# for master
JENKINS_MASTER_PORT_0="JENKINS_MASTER_PORT_0"
JENKINS_MASTER_PORT_1="JENKINS_MASTER_PORT_1"

# for dev
JENKINS_DEV_PORT_0="JENKINS_DEV_PORT_0"
JENKINS_DEV_PORT_1="JENKINS_DEV_PORT_1"

# for ops
JENKINS_OPS_PORT_0="JENKINS_OPS_PORT_0"
JENKINS_OPS_PORT_1="JENKINS_OPS_PORT_1"

# jenkins
DEV_API_PORT="DEV_API_PORT"
DEV_SOCKET_PORT="DEV_SOCKET_PORT"
OPS_API_PORT="OPS_API_PORT"
OPS_SOCKET_PORT="OPS_SOCKET_PORT"

# mysql
DEV_MYSQL_URL="MYSQL_URL"
DEV_MYSQL_USERNAME="MYSQL_USERNAME"
DEV_MYSQL_PASSWORD="MYSQL_PASSWORD"

GREEN_MYSQL_URL="MYSQL_URL"
GREEN_MYSQL_USERNAME="MYSQL_USERNAME"
GREEN_MYSQL_PASSWORD="MYSQL_PASSWORD"

BLUE_MYSQL_URL="MYSQL_URL"
BLUE_MYSQL_USERNAME="MYSQL_USERNAME"
BLUE_MYSQL_PASSWORD="MYSQL_PASSWORD"

# redis
DEV_REDIS_HOST="REDIS_HOST"
DEV_REDIS_PORT="REDIS_PORT"
DEV_REDIS_PASSWORD="REDIS_PASSWORD"

GREEN_REDIS_HOST="REDIS_HOST"
GREEN_REDIS_PORT="REDIS_PORT"
GREEN_REDIS_PASSWORD="REDIS_PASSWORD"

BLUE_REDIS_HOST="REDIS_HOST"
BLUE_REDIS_PORT="REDIS_PORT"
BLUE_REDIS_PASSWORD="REDIS_PASSWORD"
