upstream socket_server {
    server ${SERVER_DOMAIN}:${BLUE_SOCKET_PORT} ${BLUE_WEIGHT}; # Blue
    server ${SERVER_DOMAIN}:${GREEN_SOCKET_PORT} ${GREEN_WEIGHT}; # Green
}

# Dev
server {
    listen ${DEV_SOCKET_PORT};
    proxy_pass ${SERVER_DOMAIN}:${DEV_SOCKET_PORT};
}

# Ops
server {
    listen ${OPS_SOCKET_PORT};
    proxy_pass socket_server;
}
